.s-button {
    width: 20rem;
    background-color: #E1D9D1;
    border-radius: 25px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20rem;
    margin: 0 auto;
    
}

.btn:hover {
    background-color: #E1D9D1;
    color: #000;
}


#fScore {
    color: #E1D9D1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoresList {
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #E1D9D1;
    text-transform: capitalize;
}