:root {
    font-family: 'Signika', sans-serif;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: url(/images/image.jpg);  /* this image is been taken from unsplash with the url credited witing the readme*/
} 


.container  {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.game-heading {
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    color: #E1D9D1;
} 

.game-heading > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    color: #E1D9D1;
    font-size: 2.5rem;

}

.hiddden {
    display: none;
}
/*
.home-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 20rem;
    border-radius: 25px;
    background-color: #E1D9D1;

} 
.high-scores-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20rem;
    background-color: #E1D9D1;
    border-radius: 25px;

} 
*/

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20rem;
    margin: 0 auto;
}

.home-link, .scores-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
}

.h-button {
    width: 20rem;
    background-color: #E1D9D1;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.s-button {
    width: 20rem;
    background-color: #E1D9D1;
    border-radius: 25px;
}

.home-link:hover ,.scores-link:hover {
    color: black;
}
.btn[disabled]:hover {
    cursor: not-allowed;
    
}